/* General */
:root {
  /* Fonts */
  --desktop-h1-fontsize: 4.0rem;
  --desktop-h2-fontsize: 3.0rem;
  --desktop-h3-fontsize: 2.8rem;
  --desktop-h4-fontsize: 2.0rem;
  --desktop-paragraph-fontsize: 1.8rem;

  --mobile-h1-fontsize: 2.4rem;
  --mobile-h2-fontsize: 2.2rem;
  --mobile-h3-fontsize: 2.0rem;
  --mobile-h4-fontsize: 1.8rem;
  --mobile-paragraph-fontsize: 1.4rem;

  /* Colors */
  --clear: #ffffff;
  --dark: #000000;
  --purple-main: #c381f1;
  --purple-strong: #AF3CFF;
  --purple-ligth: #E4C4FF;

  --yelow: #FFC62C;
  --red: #E23535;
  --red-dark: #9F2525;
  --green: #34B347;
  --green-dark: #257E32;
  --blue: #4172DB;
  --blue-dark: #2E509A;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat";
}

.h1,
h1 {
  font-size: var(--desktop-h1-fontsize);
}

.h2,
h2 {
  font-size: var(--desktop-h2-fontsize);
}

.h3,
h3 {
  font-size: var(--desktop-h3-fontsize);
}

.h4,
h4 {
  font-size: var(--desktop-h4-fontsize);
}

.paragraph {
  font-size: var(--desktop-paragraph-fontsize);
}

@media only screen and (max-width: 680px) {

  .h1,
  h1 {
    font-size: var(--mobile-h1-fontsize);
  }

  .h2,
  h2 {
    font-size: var(--mobile-h2-fontsize);
  }

  .h3,
  h3 {
    font-size: var(--mobile-h3-fontsize);
  }

  .h4,
  h4 {
    font-size: var(--mobile-h4-fontsize);
  }

  .paragraph {
    font-size: var(--mobile-paragraph-fontsize);
  }

}

/* Utility */
.hidden {
  display: none;
}


/*BG and colors */
.bg-clear {
  background-color: var(--clear);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-yellow {
  background-color: var(--yelow);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);

}

.bg-purple-ligth {
  background-color: var(--purple-ligth);
}

.bg-purple-strong {
  background-color: var(--purple-strong);
}

.soft-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* Buttons */
button,
.button {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1);
}

button:hover,
.button:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}


.main-button {
  color: var(--clear);
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-button {
  color: var(--blue-dark);
  /* border: solid 2px var(--dark); */
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

body {
  --background-tile-size: 100px;
  background-image: url("../imgs/CheckBoardPattern.svg");
  background-repeat: repeat;
  animation-name: "background-pane";
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 6s;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@keyframes background-pane {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: var(--background-tile-size) var(--background-tile-size);
  }
}

/* Header */
header {
  position: absolute;
  left: calc(100vw/2 - 90%/2);
  top: 50px;
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1555px) {
  header {
    left: calc(100vw/2 - 1400px/2);
  }
}

header>div {
  display: flex;
}

header a {
  text-decoration: none;
  color: var(--dark);
}

header>.header-left>div:nth-child(2) a:hover {
  text-decoration: underline;
}

.header-left {
  width: 740px;
  height: 60px;
  background-color: var(--clear);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  position: relative;
}

.header-left>div:nth-child(2)>ul {
  display: flex;
  list-style: none;
  padding: 20px;
}

.header-left>div:nth-child(2)>ul>li>a {
  color: black;
  margin: 10px;
}

.header-rigth>button {
  background-color: var(--clear);
  border-radius: 15px;
  width: 60px;
  border: none;
  margin: 0 15px;
  cursor: pointer;
}

.header-rigth>button>img {
  position: relative;
  left: -6px;
}

.header-rigth>a {
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-logo {
  display: flex;
  padding-left: 20px;
  align-items: center;
  cursor: pointer;
}


/* Header burger menu*/
.burger-container {
  position: absolute;
  right: 0;
}

#burger-check {
  display: none;
  z-index: 5;
}

.burger {
  --spacing: 5px;
  --border-line-heigth: 5px;
  --burger-color: var(--yelow);

  /* display: inline-block; */
  display: none;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  width: 0;

  margin: 0 20px;
  border-bottom: var(--border-line-heigth) solid var(--burger-color);

  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger::before {
  content: "";
  display: block;
  border-bottom: var(--border-line-heigth) solid var(--burger-color);
  margin-bottom: var(--spacing);

  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger::after {
  content: "";
  display: block;
  border-bottom: var(--border-line-heigth) solid var(--burger-color);
  margin-bottom: var(--spacing);

  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-nav {
  position: absolute;
  top: 50px;
  left: -100px;
  background-color: white;
  border-radius: 5px;
  /* padding: 5px 10px; */
  min-width: 150px;
  overflow: clip;

  max-height: 0px;
  transition: max-height 0.5s;
}

.burger-nav>ul {
  list-style: none;
}

.burger-nav>ul>li {
  margin: 15px;
}

.burger-nav>ul>li>a {
  display: block;
  text-decoration: underline;
  text-align: end;
  width: 100%;
}

@media only screen and (max-width:600px) {
  /* Header */


  /* thinks to show */
  .burger-container>.burger {
    display: inline-block;
    width: 35px;
  }

  #burger-check:checked+.burger-nav {
    max-height: 200px;
    z-index: 5;
  }


  /* Thinks to hide */
  .header-left>div:nth-child(2),
  .header-rigth {
    display: none;
  }

}

/* APP modal */

#appModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

#modalContainer {
  --modal-height: 200px;

  padding: 20px;
  width: 100%;
  height: var(--modal-height);
  background-image: repeating-linear-gradient(-45deg, white 0 25px, #EBEBEB 25px 50px);
  position: relative;
  top: calc(50% - var(--modal-height)/2);

  display: flex;
  flex-direction: column;
  align-items: center;
}
