body {
  margin: 0;
  padding: 0;
  background: none;
  height: fit-content;

  --background-tile-size: 140px;
  background-image: repeating-linear-gradient(-45deg,
      #6BB4EE 0 25px,
      #5ea5e0 25px 50px);
  background-size: 140px 140px;
}

main {
  background: none;
  margin: 0;
  padding: 0;
}

main>article:nth-child(1) {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.hero {
  color: var(--clear);
  border-radius: 15px;
  display: flex;
  width: 100%;
  max-width: 1000px;
}

.hero-card>h1 span,
.hero-card>p span {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}


.hero-image {
  height: 500px;
  margin-right: 100px;
}

.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.buttons>a {
  margin-left: 25px;
}

.features {
  padding: 50px 0px;
  background-image: url("../imgs/CheckboardPatternGreen.svg");
  background-repeat: repeat;
  background-size: 100px;
  /* background-color: var(--green); */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.features>.card {
  width: 250px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clear);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
}

.card>h3,
card>p {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

.features>.card>.img {
  display: block;
  width: 150px;
  height: 150px;
  background-color: red;
}

.ia-icon {
  font-size: 10rem;
  font-weight: bolder;
}



@media only screen and (max-width: 680px) {
  body {
    padding-top: 150px;
  }

  main>article:nth-child(1) {
    align-items: center;
    padding: 10px;
    height: fit-content;
    border: none;
    padding: 0;
  }

  .hero>img {
    display: none;
  }

  .hero {
    margin-top: 50px;
    max-width: 380px;
    height: 525px;
    align-items: center;

    background-image: url('../imgs/Tower.svg');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px;
  }


}
