body {
  background-image: url('../imgs/CheckboardPatternGreen.svg');
  padding: 10px;
}

main {
  width: 100%;
}

article {
  margin: 0 auto;
  max-width: 700px;
  border: solid 2px var(--clear);
  border-radius: 25px;
  color: var(--dark);
  background-color: var(--clear);
  padding: 25px 50px;
}

article h1{
  text-decoration: underline;
}

article a{
  color: black;
}

#return {
  display: block;
  width: fit-content;
  margin: 10px auto;
  margin-bottom: 0;
  color: var(--clear);
}

h3{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#setup{
  color: var(--blue);
  display: inline-block;
}

ol{
  padding-left: 50px;
}

ol{
  padding-left: 50px;
}
